@media screen and (max-width:767px) {
    #sidebar {
        max-height:75px;
    }
}

[data-bs-theme="dark"] {
    #sidebar {
        background-color:#1f2428 !important;
    }
}
form .zone:not(:first-child) {
    border-top: 1px solid #dee2e6;
    margin-top: 1rem;
    padding-top: 1rem;
}