/* Main CSS */
.sortable-ghost-class {
    opacity: 0.4;
    background-color:#dceaff !important;
}
.schedule {
    padding-top:20px;
    padding-bottom:20px;
}
.accordion-collapse:last-child {
  padding-bottom: 30px;
}
.schedule-handle, .Sensor-handle {
    cursor:grab;
}
.delete-this-schedule, .delete-this-Sensor {
    cursor:pointer;
}
.report {
    background-color:white;
    padding:20px;
    border-radius:20px;
}
.line-chart {
    min-height:500px;
    max-height:1000px;
}

@media screen and (max-width:767px) {
    #sidebar {
        max-height:75px;
    }
}

[data-bs-theme="dark"] {
    #sidebar {
        background-color:#1f2428 !important;
    }
}
form .zone:not(:first-child), form .sensor:not(:first-child) {
    border-top: 1px solid #dee2e6;
    margin-top: 1rem;
    padding-top: 1rem;
}