{% extends "page.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}
<div class="d-flex flex-column">

    <!-- Heading-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10">
        <h2>Account Settings: {{ username }}</h2>
    </div>

    <!-- General Settings Section-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10">
        <h3>General Settings</h3>
    </div>

    <!-- Security Settings Section-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10">
        <h3>Security Settings</h3>
        <p class="text-secondary"><small>Use this form to change your password.</small></p>
        <form class="mx-auto" action="/account?form=change_password" method="post">
            <div class="input-group pb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="current_password" placeholder="Current Password" required />
            </div>
            <div class="input-group pb-2">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="new_password" placeholder="New Password" required />
            </div>
            <div class="input-group pb-2">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="new_password_conf" placeholder="Confirm New Password" required />
            </div>
            <button class="my-3 btn btn-outline-secondary d-block" type="submit">Submit</button>
        </form>
    </div>

</div>
{% endblock %}