{% extends "page.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}
<div class="d-flex flex-column">

    <!-- Heading-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10 mb-4">
        <h2>Schedules</h2>
        <p class="text-secondary mb-0"><small>Create update or remove currently configured schedules on this page.</small></p>
    </div>

    <!-- Time Settings Section-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10 mb-4">
        
    </div>

    <!-- Section
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10 mb-4">
        <h4>Security Settings</h4>
        <p class="text-secondary"><small>Use this form to change your password.</small></p>
        <form action="/account?form=change_password" method="post">
            <div class="input-group pb-3" style="max-width:400px">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0c1.07 0 2.041.42 2.759 1.104l.14.14.062.08a.5.5 0 0 1-.71.675l-.076-.066-.216-.205A3 3 0 0 0 5 4v2h6.5A2.5 2.5 0 0 1 14 8.5v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7z"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="current_password" placeholder="Current Password" required />
            </div>
            <div class="input-group pb-2" style="max-width:400px">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="new_password" placeholder="New Password" required />
            </div>
            <div class="input-group pb-2" style="max-width:400px">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </span>
                <input class="form-control" type="password" name="new_password_conf" placeholder="Confirm New Password" required />
            </div>
            <button class="my-3 btn btn-outline-secondary d-block" type="submit">Submit</button>
        </form>
    </div>-->

</div>
{% endblock %}