{% extends "page.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {% set weather_data = data.weather_data %}

    <!-- Load the report templates -->
    <div id="report-container">
        {% for report in data.reports | sort(attribute='position') %}
            {% if report.active %}
                {% include report.template_file ignore missing %}
            {% endif %}
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dayjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-adapter-dayjs.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/chart.js.map') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-dayjs@1.0.0/dist/chartjs-adapter-dayjs.min.js"></script> -->

{% endblock %}