{% extends "page.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {% set weather_data = data.weather_data %}

    <div class="">
        <!-- Heading and Quick Filtering -->
        <div class="align-items-center gap-3 justify-content-between d-sm-flex mb-4">
            <div class="">
                <h2>Dashboard</h2>
                <p class="text-secondary mt-3 mb-0"><small>Customiseable reporting dashboard.</small></p>
                <a class="small text-body-secondary mb-3 {% if not current_user.is_authenticated %}d-none{% endif %}" data-bs-toggle="offcanvas" href="#offcanvasWithBothOptions" role="button" aria-controls="offcanvasWithBothOptions">
                    Add/Remove Reports
                </a>
            </div>
            <div class="d-flex gap-3 align-items-center mt-sm-5">
                <label class="w-100" for="rangeSelect">Quick Filter:</label>
                <select id="rangeSelect" class="form-select" style="max-width:250px;" onchange="applyPredefinedRange()">
                    <option value="5days">5 Days</option>
                    <option value="3days" selected="selected">3 Days</option>
                    <option value="thisweek">This Week</option>
                    <option value="prev7days">Last 7 Days</option>
                    <option value="prev30days">Last 30 Days</option>
                    <option value="prev90days">Last 3 Months</option>
                    <option value="all">All Time</option>
                </select>
            </div>
        </div>
        <!-- Start and End Date Filtering -->   
        <div class="pb-2 border-bottom border-top mb-3">
            <div class="d-flex gap-3 w-100 mt-2">
                <div class="">
                    <label for="start">Start Date:</label>
                    <input class="btn ps-0 ps-sm-3" type="date" id="startdate">
                </div>
                <div class="">
                    <label for="end">End Date:</label>
                    <input class="btn ps-0 ps-sm-3" type="date" id="enddate">
                </div>
                <button onclick="updateReports()" class="btn">Apply</button>
            </div>
        </div>
    </div>

    <!-- Reports Offcanvas Panel -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Reports</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p class="text-secondary mb-3"><small>Select reports to be active.</small></p>

            <ul id="toggle-reports" class="list-group list-group-flush">
                {% for report in data.reports | sort(attribute='position') %}

                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="{{ report.id }}" id="input-{{ report.id }}" {% if report.active %}checked{% endif %}>
                        <label class="form-check-label stretched-link" for="input-{{ report.id }}">{{ report.name }}</label>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Load the script that handles callbacks based on the dates -->
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    <!-- Load the report templates -->
    <div id="report-container">
        {% for report in data.reports | sort(attribute='position') %}
            <div class="report {% if not report.active %}d-none{% endif %}" id="report-{{ report.id }}" style="width:100%; height:500px;">
                {% include report.template_file ignore missing %}
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dayjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-adapter-dayjs.min.js') }}"></script>

    

{% endblock %}