{% extends "page.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}
<div class="d-flex flex-column">

    <!-- Heading-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10 mb-4">
        <h2>Schedules</h2>
        <p class="text-secondary mb-0"><small>Create update or remove currently configured schedules on this page.</small></p>
    </div>

    <!-- Time Settings Section-->
    <div class="col-sm-12 col-xs-12 col-xl-12 col-lg-12 col-md-12 mb-4">
        
        <form action="/schedules?form=update_schedules" method="post">
        <div class="accordion" id="accordionExample">

            {% for group in groups %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex col-xl-10 gap-2">
                                <input class="form-control control" type="text" name="{{ group.name }}" placeholder="{{ group.name }}" value="{{ group.name }}" required style="max-width:400px;"></input>
                                <div class="d-flex gap-2">
                                    <span type="button" class="btn btn-outline-secondary add-schedule-g1 control" tabindex="0">Add</span>
                                    <span type="button" class="btn btn-outline-danger remove-schedule-g1 control" tabindex="0">Remove</span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <!-- Schedule-->
                        {% for schedule in group.schedules %}
                        <div class="accordion-body row schedule">
                            <div class="col-xs-12">
                                <p class="mb-2 text-dark-emphasis ps-3">Schedule {{ schedule.id }}</p>
                                <hr class="mt-0">
                            </div>
                            <!--<div class="col-xs-12">
                                <div class="input-group pb-3">
                                    <input class="form-control" type="time" name="start-{{ schedule.id }}" placeholder="" value="{{ schedule.start }}" style="max-width:120px" required />
                                    <input class="form-control" type="number" name="duration-{{ schedule.id }}" placeholder="" value="{{ schedule_durations[schedule.id] }}" style="max-width:100px" required />
                                    {% for day in days %}
                                        <input type="checkbox" class="btn-check" id="day-{{ day.id }}-schedule-{{ schedule.id }}" autocomplete="off" {% if day in schedule.days %}checked{% endif %}>
                                        <label class="btn btn-outline-secondary px-2" for="day-{{ day.id }}-schedule-{{ schedule.id }}">{{ day.name|truncate(1, True, '', 0) }}</label>
                                    {% endfor %}
                                </div>
                            </div>-->
                            <div class="row mb-4 ms-0">
                                <div class="col-md-3">
                                    <p class="text-secondary mb-1"><small>Start Time:</small></p>
                                    <div class="input-group pb-3" style="max-width:400px">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                                            </svg>
                                        </span>
                                        <input class="form-control" type="time" name="start-{{ schedule.id }}" placeholder="" value="{{ schedule.start }}" required />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-secondary mb-1"><small>Duration (minutes):</small></p>
                                    <div class="input-group pb-3" style="max-width:400px">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </span>
                                        <input class="form-control" type="number" name="duration-{{ schedule.id }}" placeholder="" value="{{ schedule_durations[schedule.id] }}" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-secondary mb-1"><small>Weather Dependent:</small></p>
                                    <div class="input-group flex-nowrap">
                                        <!--<span class="input-group-text" id="addon-wrapping">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                                                <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973M8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4 4 0 0 1 8.5 2"/>
                                            </svg>
                                        </span>-->
                                        <!-- <select name="weather-{{ schedule.id }}" class="form-select" aria-label="Default select example">
                                            <option value="1">Ignore any weather</option>
                                            <option value="2">Skip watering in heavy rain</option>
                                            <option value="3">Skip watering in light rain</option>
                                        </select> -->
                                        <input type="radio" class="btn-check" value="1" name="weather-{{ schedule.id }}" id="weather-sun-{{ schedule.id }}" autocomplete="off" checked>
                                        <label class="btn btn-outline-secondary d-flex align-items-center px-3" style="border-radius:6px 0 0 6px; border-color: #dee2e6;" for="weather-sun-{{ schedule.id }}" style="border-color: #dee2e6;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-sun" viewBox="0 0 16 16">
                                                <path d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .624.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .51-.375A3.5 3.5 0 0 1 7 8m4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z"/>
                                                <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708zm1.734 3.374a2 2 0 1 1 3.296 2.198q.3.423.516.898a3 3 0 1 0-4.84-3.225q.529.017 1.028.129m4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377M14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                                            </svg>
                                        </label>
                                        <input type="radio" class="btn-check" value="2" name="weather-{{ schedule.id }}" id="weather-lightrain-{{ schedule.id }}" autocomplete="off">
                                        <label class="btn btn-outline-secondary d-flex align-items-center px-3" for="weather-lightrain-{{ schedule.id }}" style="border-color: #dee2e6;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clouds" viewBox="0 0 16 16">
                                                <path d="M16 7.5a2.5 2.5 0 0 1-1.456 2.272 3.5 3.5 0 0 0-.65-.824 1.5 1.5 0 0 0-.789-2.896.5.5 0 0 1-.627-.421 3 3 0 0 0-5.22-1.625 5.6 5.6 0 0 0-1.276.088 4.002 4.002 0 0 1 7.392.91A2.5 2.5 0 0 1 16 7.5"/>
                                                <path d="M7 5a4.5 4.5 0 0 1 4.473 4h.027a2.5 2.5 0 0 1 0 5H3a3 3 0 0 1-.247-5.99A4.5 4.5 0 0 1 7 5m3.5 4.5a3.5 3.5 0 0 0-6.89-.873.5.5 0 0 1-.51.375A2 2 0 1 0 3 13h8.5a1.5 1.5 0 1 0-.376-2.953.5.5 0 0 1-.624-.492z"/>
                                            </svg>
                                        </label>
                                        <input type="radio" class="btn-check" value="3" name="weather-{{ schedule.id }}" id="weather-heavyrain-{{ schedule.id }}" autocomplete="off">
                                        <label class="btn btn-outline-secondary px-3" for="weather-heavyrain-{{ schedule.id }}" style="border-color: #dee2e6;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                                                <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973M8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4 4 0 0 1 8.5 2"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-secondary mb-1"><small>Status:</small></p>
                                    <!--<div class="">
                                        <input name="active-{{ schedule.id }}" type="checkbox" class="btn-check" id="btn-check-{{ schedule.id }}" checked autocomplete="off">
                                        <label class="btn" for="btn-check-{{ schedule.id }}">Active</label>
                                    </div>-->
                                    <div class="form-check form-switch">
                                        <!--<input class="form-check-input" name="active-{{ schedule.id }}" type="checkbox" id="btn-check-{{ schedule.id }}" role="switch" checked>
                                        <label class="form-check-label" for="btn-check-{{ schedule.id }}">Active</label>-->
                                        <input class="form-check-input" name="active-{{ schedule.id }}" type="checkbox" role="switch" id="btn-check-{{ schedule.id }}" checked>
                                        <label class="form-check-label" for="btn-check-{{ schedule.id }}">Active</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p class="text-secondary mb-1"><small>Operating Days:</small></p>
                                    <div class="d-flex justify-content-start input-group">
                                        {% for day in days %}
                                            <!--<div class="">-->
                                                <input type="checkbox" class="btn-check" id="day-{{ day.id }}-schedule-{{ schedule.id }}" autocomplete="off" {% if day in schedule.days %}checked{% endif %}>
                                                <label class="btn px-2 btn-outline-secondary" style="border-color: #dee2e6; {% if day.id == 1 %}border-radius: 6px 0 0 6px;{% endif %}" for="day-{{ day.id }}-schedule-{{ schedule.id }}">{{ day.name|truncate(3, True, '', 0) }}</label>
                                            <!--</div>-->
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p class="text-secondary mb-1"><small>Operating Zones:</small></p>
                                    <div class="d-flex justify-content-start input-group">
                                        {% for zone in zones %}
                                            <!--<div class="me-3">-->
                                                <input type="checkbox" name="zone-{{zone.id}}-schedule-{{ schedule.id }}" class="btn-check" id="zone-{{ zone.id }}-schedule-{{ schedule.id }}" autocomplete="off" {% if zone in schedule.zones %}checked{% endif %}>
                                                <label class="btn px-2 btn-outline-secondary" style="border-color: #dee2e6; {% if zone.id == 1 %}border-radius: 6px 0 0 6px;{% endif %}" for="zone-{{ zone.id }}-schedule-{{ schedule.id }}">{{ zone.name }}</label>
                                            <!--</div>-->
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr class="mt-0">
                            </div>
                        </div>
                        <!-- End Schedule-->
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
        <button class="my-3 btn btn-outline-secondary d-block" type="submit">Submit</button>
        </form>


    </div>

</div>

<script>
    document.querySelectorAll('.accordion .accordion-header input, .accordion .accordion-header .control').forEach(function(input) {
    input.addEventListener('focus', function(event) {
        const btn = input.closest('.accordion-header').querySelector('.accordion-button');
        if (btn) btn.setAttribute('data-bs-toggle', 'disabled');
    });
    input.addEventListener('blur', function(event) {
        const btn = input.closest('.accordion-header').querySelector('.accordion-button');
        if (btn) btn.setAttribute('data-bs-toggle', 'collapse');
    });
    });
    // Helper to increment the last number in a string (e.g., "duration-5" -> "duration-6")
    function incrementLastNumber(str, newId) {
        return str.replace(/(\D+)(\d+)$/, function(_, prefix, num) {
            return prefix + newId;
        });
    }

    // Add schedule duplication logic for .add-schedule-g1
    document.querySelectorAll('.add-schedule-g1').forEach(function(btn) {
        btn.addEventListener('click', function(event) {
            const accordionItem = btn.closest('.accordion-item');
            if (!accordionItem) return;

            // Find all .schedule rows and clone the last one
            const scheduleRows = accordionItem.querySelectorAll('.schedule');
            if (scheduleRows.length === 0) return;
            const lastSchedule = scheduleRows[scheduleRows.length - 1];
            const newSchedule = lastSchedule.cloneNode(true);

            // Find the highest schedule id in this group
            let maxId = 0;
            scheduleRows.forEach(function(row) {
                row.querySelectorAll('[name],[id],[for]').forEach(function(el) {
                    ['name', 'id', 'for'].forEach(function(attr) {
                        if (el.hasAttribute(attr)) {
                            const match = el.getAttribute(attr).match(/(\d+)$/);
                            if (match) {
                                const num = parseInt(match[1]);
                                if (num > maxId) maxId = num;
                            }
                        }
                    });
                });
            });
            const newId = maxId + 1;

            // Update all name, id, for attributes in the cloned row
            newSchedule.querySelectorAll('[name],[id],[for]').forEach(function(el) {
                ['name', 'id', 'for'].forEach(function(attr) {
                    if (el.hasAttribute(attr)) {
                        const val = el.getAttribute(attr);
                        if (val && /\d+$/.test(val)) {
                            el.setAttribute(attr, incrementLastNumber(val, newId));
                        }
                    }
                });
            });

            // Clear input/select values
            newSchedule.querySelectorAll('input, select').forEach(function(input) {
                if (input.type === 'checkbox' || input.type === 'radio') {
                    input.checked = false;
                } else if (input.tagName === 'SELECT') {
                    input.selectedIndex = 0;
                } else {
                    input.value = '';
                }
            });

            lastSchedule.after(newSchedule);
        });
    });

    // Remove schedule logic for .remove-schedule-g1
    document.querySelectorAll('.remove-schedule-g1').forEach(function(btn) {
        btn.addEventListener('click', function(event) {
            const accordionItem = btn.closest('.accordion-item');
            if (!accordionItem) return;

            const scheduleRows = accordionItem.querySelectorAll('.schedule');
            if (scheduleRows.length > 1) {
                scheduleRows[scheduleRows.length - 1].remove();
            }
        });
    });
</script>

{% endblock %}