{% extends "page.html" %}

{% block title %}Schedules{% endblock %}

{% macro render_schedule(schedule, group_id) %}
    <div class="accordion-body row schedule">
        <div class="col-xs-12">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-3">
                    <p class="mb-2 text-dark-emphasis ps-3 schedule-title">Schedule {{ schedule.id }}</p>
                    {% if current_user.is_authenticated %}
                    <span class="schedule-handle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
                        </svg>
                    </span>
                    {% endif %}
                </div>
                {% if current_user.is_authenticated %}
                <span class="delete-this-schedule">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </span>
                {% endif %}
            </div>
            <hr class="mt-0">
        </div>
        <div class="row ms-0">
            <div class="col-lg-4">
                <p class="text-secondary mb-1"><small>Start Time:</small></p>
                <div class="input-group pb-3" style="max-width:400px">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                        </svg>
                    </span>
                    <input class="form-control" type="time" name="start-{{ schedule.id }}" placeholder="" value="{{ schedule.start }}" required {% if not current_user.is_authenticated %}disabled{% endif %}/>
                </div>
            </div>
            <div class="col-lg-4">
                <p class="text-secondary mb-1"><small>Duration (minutes):</small></p>
                <div class="input-group pb-3" style="max-width:400px">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </span>
                    <input class="form-control" type="number" name="duration-{{ schedule.id }}" placeholder="" value="{{ data.schedule_durations[schedule.id] }}" required {% if not current_user.is_authenticated %}disabled{% endif %}/>
                </div>
            </div>
            <div class="col-lg-4">
                <p class="text-secondary mb-1 d-inline"><small>Weather Mode: </small></p>
                <a tabindex="0" role="button" data-bs-trigger="focus" class="d-inline text-secondary ms-2" style="cursor:pointer;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-title="Weather Mode" data-bs-html="true" data-bs-content="Choose whether schedules are effected by weather forecast (day). Options are: <br>- Run only with clear forecast<br>- Run with less than {{ data.rain_threshold }}mm forecast<br>- Run regardless of forecast" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                    </svg>
                </a>
                <div class="input-group flex-nowrap pt-1 pb-3">
                    <input type="radio" class="btn-check" value="1" name="weather-{{ schedule.id }}" id="weather-sun-{{ schedule.id }}" autocomplete="off" {% if schedule.weather_dependent == 1 %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                    <label class="btn btn-outline-secondary d-flex align-items-center px-3" style="border-radius:6px 0 0 6px; border-color: #dee2e6;" for="weather-sun-{{ schedule.id }}" style="border-color: #dee2e6;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                        </svg>
                    </label>
                    <input type="radio" class="btn-check" value="2" name="weather-{{ schedule.id }}" id="weather-lightrain-{{ schedule.id }}" autocomplete="off" {% if schedule.weather_dependent == 2 %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                    <label class="btn btn-outline-secondary d-flex align-items-center px-3" for="weather-lightrain-{{ schedule.id }}" style="border-color: #dee2e6;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-sun" viewBox="0 0 16 16">
                            <path d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .624.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .51-.375A3.5 3.5 0 0 1 7 8m4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z"/>
                            <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708zm1.734 3.374a2 2 0 1 1 3.296 2.198q.3.423.516.898a3 3 0 1 0-4.84-3.225q.529.017 1.028.129m4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377M14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                        </svg>
                    </label>
                    <input type="radio" class="btn-check" value="3" name="weather-{{ schedule.id }}" id="weather-heavyrain-{{ schedule.id }}" autocomplete="off" {% if schedule.weather_dependent == 3 %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                    <label class="btn btn-outline-secondary px-3" for="weather-heavyrain-{{ schedule.id }}" style="border-color: #dee2e6;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                            <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317m.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973M8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4 4 0 0 1 8.5 2"/>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 order-2">
                <p class="text-secondary mb-1"><small>Status:</small></p>
                <div class="form-check form-switch d-flex gap-2 pt-1">
                    <input class="form-check-input" name="active-{{ schedule.id }}" type="checkbox" role="switch" id="btn-check-{{ schedule.id }}" {% if schedule.active == 1 %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                    <label class="form-check-label text-body-secondary" for="btn-check-{{ schedule.id }}"><small>Active</small></label>
                </div>
            </div>
            <div class="col-lg-6 mb-3 w-auto">
                <p class="text-secondary mb-1"><small>Operating Days:</small></p>
                <div class="d-flex justify-content-start input-group">
                    {% for day in data.days_of_week %}
                        <input type="checkbox" class="btn-check" name="day-{{ day.id }}-schedule-{{ schedule.id }}" id="day-{{ day.id }}-schedule-{{ schedule.id }}" autocomplete="off" {% if day in schedule.days %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                        <label class="btn px-2 btn-outline-secondary" style="border-color: #dee2e6; {% if day.id == 1 %}border-radius: 6px 0 0 6px;{% endif %}" for="day-{{ day.id }}-schedule-{{ schedule.id }}">{{ day.name|truncate(3, True, '', 0) }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 mb-3 w-auto">
                <p class="text-secondary mb-1"><small>Operating Zones:</small></p>
                <div class="d-flex justify-content-start input-group">
                    {% for zone in data.zones %}
                        <input type="checkbox" name="zone-{{zone.id}}-schedule-{{ schedule.id }}" class="btn-check" id="zone-{{ zone.id }}-schedule-{{ schedule.id }}" autocomplete="off" {% if zone in schedule.zones %}checked{% endif %} {% if not current_user.is_authenticated %}disabled{% endif %}>
                        <label class="btn px-2 btn-outline-secondary" style="border-color: #dee2e6; {% if zone.id == 1 %}border-radius: 6px 0 0 6px;{% endif %}" for="zone-{{ zone.id }}-schedule-{{ schedule.id }}">{{ zone.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <!-- Hidden Admin Fields -->
            <input type="text" name="group-{{ schedule.id}}" class="d-none" value="group-{{ group_id }}">
            <input type="text" name="id-{{ schedule.id}}" class="d-none" value="{% if not schedule.template %}{{ schedule.id }}{% endif %}">
            <input type="text" name="sort-order-{{ schedule.id}}" class="d-none" value="{% if schedule.sort_order %}{{ schedule.sort_order}}{% else %}{{ counter }}{% endif %}">
        </div>
    </div>
{% endmacro %}

{% block content %}
<div class="d-flex flex-column">

    <!-- Heading-->
    <div class="col-sm-12 col-xs-12 col-xl-6 col-lg-8 col-md-10 mb-4">
        <h2>Schedules</h2>
        <p class="text-secondary mb-0"><small>Create update or remove currently configured schedules on this page.</small></p>
    </div>

    <!-- Time Settings Section-->
    <div class="col-sm-12 col-xs-12 col-xl-12 col-lg-12 col-md-12 mb-4">
        
        <form action="/schedules?form=update_schedules" method="post">
        <div class="accordion" id="accordionGroups">

            {# Create a list to store all the id's of all schedules #}
            {% set ids = [] %}
            
            <!-- Group -->
            {% for group in data.groups %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ group.id }}" aria-expanded="true" aria-controls="collapse-{{ group.id }}">
                            <div class="d-flex col-xl-10 gap-2">
                                <input class="form-control control group-heading-{{ group.id }}" type="text" name="group-name-{{ group.id }}" placeholder="Group Name" value="{{ group.name }}" required style="max-width:400px;" {% if not current_user.is_authenticated %}disabled{% endif %}></input>
                                <div class="d-flex gap-2">
                                    <span type="button" class="btn btn-outline-secondary add-schedule-1 control {% if not current_user.is_authenticated %}d-none{% endif %}" tabindex="0">Add</span>
                                    <span type="button" class="btn btn-outline-danger remove-schedule-1 control {% if not current_user.is_authenticated %}d-none{% endif %}" tabindex="0">Remove</span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-{{ group.id }}" class="accordion-collapse collapse show pt-4">

                        {# Create a counter variable for all the schedules that don't have a sort order #}
                        {% set counter = 1 %}

                        {% for schedule in group.schedules|sort(attribute='sort_order') %}

                            {# Store the schedule id in the ids list #}
                            {% set _ = ids.append(schedule.id) %}

                            {{ render_schedule(schedule, group.id) }}

                            {% set counter = counter + 1 %}

                        {% endfor %}
                    </div>
                </div>
            <!-- End Group -->
            {% endfor %}

        </div>
        <div class="d-flex gap-2">
            <button class="my-3 btn btn-outline-secondary d-block {% if not current_user.is_authenticated %}d-none{% endif %}" type="submit">Submit</button>
            <button class="my-3 btn btn-outline-secondary d-block add-group {% if not current_user.is_authenticated %}d-none{% endif %}" type="submit">Add Group</button>
            <button class="my-3 btn btn-outline-danger d-block remove-group {% if not current_user.is_authenticated %}d-none{% endif %}" type="submit">Remove Group</button>
            <input type="text" name="all-ids" class="d-none" value="{{ ids|replace("[", "")|replace("]", "") }}">
            <input type="text" name="max-id" class="d-none" value="{{ data.max_schedule_id }}">
        </div>
        </form>

        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deletion - Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You are deleting schedules/groups, <strong>this cannot be reversed</strong>. Are you sure you want to continue?</p>
                        <ul class="modal-deletions-list">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Confirm Changes</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<template id="schedule-template">
<!--<script type="text/template" id="schedule-template">-->
    {% set template_schedule = {'id': 1, 'start': '', 'duration': '', 'weather_dependent': '', 'status': 0, 'sort_order': 0, 'zones': data.zones, 'days': data.days_of_week, 'template': 1} %}
    {{ render_schedule(template_schedule, '1') }}
<!--</script>-->
</template>

<script>

    // Initialises the popovers in the schedules form
    function initialisePopovers() {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    }

    // Function to prevent focus events on form fields in the accordion header opening and closing the accordion.
    function handleAccordionFocus(event) {
        const clickedElement = event.target;
        const btn = clickedElement.closest('.accordion-header').querySelector('.accordion-button');
        if (btn) {
            btn.setAttribute('data-bs-toggle', 'disabled');
        }
    }

    // Function to prevent blur events on form fields in the accordion header opening and closing the accordion.
    function handleAccordionBlur(event) {
        const clickedElement = event.target;
        const btn = clickedElement.closest('.accordion-header').querySelector('.accordion-button');
        if (btn) {
            btn.setAttribute('data-bs-toggle', 'collapse');
        }
    }

    // Prevent clicking buttons/fields on the accordion header from collapsing the accordion
    function preventToggleOnAccordionFields() {
        document.querySelectorAll('.accordion .accordion-header input, .accordion .accordion-header .control').forEach(input => {
            // Remove any existing listeners to prevent duplicates
            input.removeEventListener('focus', handleAccordionFocus);
            input.removeEventListener('blur', handleAccordionBlur);
            // Add the focus and blur event listeners
            input.addEventListener('focus', handleAccordionFocus);
            input.addEventListener('blur', handleAccordionBlur);
        });
        // Hotfix, because the renameGroupsAndSchedules() function clones and replaces, the handle events get left in the lurch.
        // This part ensures they don't get stuck as disabled.
        document.querySelectorAll('.accordion .accordion-header .accordion-button').forEach(btn => {
            if (btn) {
                btn.setAttribute('data-bs-toggle', 'collapse');
            }
        });
    }

    // Parent function to rename all the groups and schedules after changes
    // We are cloning the entire accordion into memory to prevent issues with radio fields being cleared by the browser during the 
    // tiny period they share the same name
    function renameGroupsAndSchedules() {
        // Clone the container and its children into memory
        const container = document.querySelector('.accordion');
        if (!container) return;
        const clonedContainer = container.cloneNode(true);
        const groups = clonedContainer.querySelectorAll('.accordion-item');
        let scheduleCounter = 1;
        // Iterate through each group in the cloned container
        groups.forEach((group, groupIndex) => {
            // Create a sort order counter for this group
            let sortCounter = 1;
            const schedules = group.querySelectorAll('.schedule');
            renameGroupAttributes(group, groupIndex + 1);
            schedules.forEach(schedule => {
                // Rename schedule fields and classes with absolute numbering
                renameScheduleAttributes(schedule, scheduleCounter);
                updateScheduleSortOrder(schedule, sortCounter);
                scheduleCounter++;
                sortCounter++;
            });
        });
        // Replace the original container's content with the modified clone
        container.replaceWith(clonedContainer);
    }

    // Update the sort order field's value with the sort order
    function updateScheduleSortOrder(schedule, sortCounter) {
        const order = schedule.querySelector('[name*="sort-order"]')
        if (order) {
            order.value = sortCounter;
        }
    }

    // Function to update the form with all usability actions including renaming fields accordingly,
    // ensuring all header fields don't trigger the accordion and ensuring the add/remove schedule buttons work.
    function updateForm() {
        renameGroupsAndSchedules();
        ensureRadioChecked();
        addListenersToScheduleButtons();
        preventToggleOnAccordionFields();
        initialisePopovers();
        setupSortables();
    }

    // Function for when the form has been reordered. Not all the same things required as when the form is updated.
    function formReordered() {
        renameGroupsAndSchedules();
        addListenersToScheduleButtons();
        preventToggleOnAccordionFields();
        setupSortables();
    }

    // Ensure at least one radio option is selected in each radio field. (Can't validate these with bootstrap and server side is backup)
    function ensureRadioChecked(container = document) {
        // Get all radio buttons in the specified container
        const radioButtons = container.querySelectorAll('input[type="radio"]');
        
        // Group radio buttons by their 'name' attribute using a Map
        const groups = new Map();
        radioButtons.forEach(radio => {
            if (!groups.has(radio.name)) {
                groups.set(radio.name, []);
            }
            groups.get(radio.name).push(radio);
        });

        // Check each radio group
        groups.forEach(radios => {
            // Check if any radio in the group is selected
            const hasChecked = radios.some(radio => radio.checked);
            // If no radio is checked, set the first one to checked
            if (!hasChecked && radios.length > 0) {
                radios[0].checked = true;
            }
        });
    }

    // Rename the parts of a group, including the buttons, name and accordion parts
    function renameGroupAttributes(group, groupNumber) {
        // Select group-specific fields (add-schedule and remove-schedule group-heading)
        const groupFields = group.querySelectorAll('[class*="add-schedule"], [class*="remove-schedule"], [class*="group-heading"]');
        const groupValueFields = group.querySelectorAll('[name*="group"]');
        const collapseFields = group.querySelectorAll('[data-bs-toggle*="collapse"], [class*="accordion-button"], [class*="accordion-collapse"]');
        // Rename group field names and IDs
        groupFields.forEach(field => {
            if (field.name) {
                field.name = field.name.replace(/(\d+)$/, groupNumber.toString());
            }
            if (field.value) {
                field.value = field.value.replace(/(\d+)$/, groupNumber.toString());
            }
            if (field.placeholder) {
                field.placeholder = field.placeholder.replace(/(\d+)$/, groupNumber.toString());
            }
        });
        // Update the collapse fields for the group
        collapseFields.forEach(field => {
            if (field.dataset.bsTarget) {
                field.dataset.bsTarget = field.dataset.bsTarget.replace(/(\d+)$/, groupNumber.toString());
            }
            if (field.id) {
                field.id = field.id.replace(/(\d+)$/, groupNumber.toString());
            }
        });
        // Adjust the group field
        groupValueFields.forEach(field => {
            field.value = field.value.replace(/(\d+)$/, groupNumber.toString());
        });
        // Rename group classes
        groupFields.forEach(elem => {
            const newClasses = Array.from(elem.classList).map(cls => {
            return cls.replace(/(\d+)$/, groupNumber.toString());
            });
            elem.className = newClasses.join(' ');
        });
    }

    // Function to rename the schedule titles
    function renameScheduleTitles(schedule, groupNumber) {
        const scheduleTitles = schedule.querySelectorAll('p.schedule-title');
        scheduleTitles.forEach(elem => {
            elem.textContent = elem.textContent.replace(/(\d+)$/, groupNumber.toString());
        });
    }

    // Rename all the form elements in a schedule with corrected id's names etc
    function renameScheduleAttributes(schedule, scheduleNumber) {
        // Define schedule fields (all inputs, selects, textareas within schedule)
        const scheduleFields = schedule.querySelectorAll('input, select, textarea, label');
        const scheduleClassElements = schedule.querySelectorAll('[class*="schedule"]');
        
        // Rename schedule field names and IDs with absolute numbering
        scheduleFields.forEach(field => {
            if (field.name) {
                field.name = field.name.replace(/(\d+)$/, scheduleNumber.toString());
            }
            if (field.id) {
                field.id = field.id.replace(/(\d+)$/, scheduleNumber.toString());
            }
            if (field.tagName.toLowerCase() === 'label' && field.htmlFor) {
                field.htmlFor = field.htmlFor.replace(/(\d+)$/, scheduleNumber.toString());
            }
        });
    }

    // Delete the last group in the document (May want to adjust to selectively delete)
    function deleteGroup() {
        const accordions = document.querySelectorAll('.accordion-item');
        if (accordions.length > 1) {
            accordions[accordions.length - 1].remove();
        }
    }

    // Duplicate the first group and append to the end blank
    function duplicateGroup() {
        // Get the first accordion-item group to duplicate
        const firstGroup = document.querySelector('.accordion-item');
        if (!firstGroup) return;
        const newGroup = firstGroup.cloneNode(true);    
        // Remove all schedules except the first one
        const schedules = newGroup.querySelectorAll('.schedule');
        schedules.forEach((schedule, index) => {
            if (index > 0) schedule.remove();
        });
        if (!schedules) {
            console.log('No Schedules');
        }
        // Set the title to new schedule
        const scheduleTitle = newGroup.querySelector('p.schedule-title');
        if (scheduleTitle) {
            scheduleTitle.innerHTML = "New Schedule"
        }
        // Clear form field values in the new group
        const formFields = newGroup.querySelectorAll('input, select, textarea, time, number');
        formFields.forEach(field => {
            if (!field.name.includes("group")) {
                if (field.type === 'text' || field.type === 'textarea' || field.type === 'time' || field.type === 'number' || field.tagName.toLowerCase() === 'textarea') {
                    field.value = '';
                } else if (field.type === 'checkbox' || field.type === 'radio') {
                    field.checked = false;
                } else if (field.tagName.toLowerCase() === 'select') {
                    field.selectedIndex = 0;
                }
            }
        });
        // Append the new group to the parent container
        firstGroup.parentNode.appendChild(newGroup); 
        // Run form updates to ensure order and names are correct, buttons work etc.
        updateForm();
    }

    // Function to duplicate the last schedule in a group
    function duplicateSchedule(event) {
        // Get the closest group to what was clicked on
        const clickedElement = event.target;
        const group = clickedElement.closest('.accordion-item');
        if (!group) {
            return;
        }
        // Get the template schedule and take a copy of it
        const template = document.querySelector('#schedule-template').content;
        const templateSchedule = template.querySelector('.schedule');
        const newSchedule = templateSchedule.cloneNode(true);
        // Clear form field values in the new schedule
        const formFields = newSchedule.querySelectorAll('input, select, textarea, time, number');
        formFields.forEach(field => {
            if (!field.name.includes("group")) {
                if (field.type === 'text' || field.type === 'textarea' || field.type === 'time' || field.type === 'number' || field.tagName.toLowerCase() === 'textarea') {
                    field.value = '';
                } else if (field.type === 'checkbox' || field.type === 'radio') {
                    field.checked = false;
                } else if (field.tagName.toLowerCase() === 'select') {
                    field.selectedIndex = 0;
                }
            }

        });
        // Set the title to new schedule
        const scheduleTitle = newSchedule.querySelector('p.schedule-title');
        scheduleTitle.innerHTML = "New Schedule"
        // Append the new Schedule
        const parentCollapse = group.querySelector('.accordion-collapse');
        parentCollapse.appendChild(newSchedule);
        // Run form updates to ensure order and names are correct, buttons work etc.
        updateForm();
    }

    // Delete the last schedule in the group (May want to adjust to selectively delete)
    function deleteSchedule() {
        // Get the group this belongs to
        const clickedElement = event.target;
        const group = clickedElement.closest('.accordion-item');
        if (!group) {
            return;
        }
        // Get the last schedule and remove it
        const schedules = group.querySelectorAll('.schedule');
        if (schedules.length > 1) {
            schedules[schedules.length - 1].remove();
        }
        updateForm();
    }
    // Delete the last schedule in the group (May want to adjust to selectively delete)
    function deleteThisSchedule() {
        // Get the group this belongs to
        const clickedElement = event.target;
        // Get the last schedule and remove it
        const schedule = clickedElement.closest('.schedule');
        if (schedule) {
            schedule.remove();
        }
        updateForm();
    }

    // Function to add listeners to all the add/remove schedule buttons
    function addListenersToScheduleButtons () {
        const addScheduleButtons = document.querySelectorAll('[class*="add-schedule"]');
        addScheduleButtons.forEach(span => {
            span.removeEventListener('click', handleAddSchedule);
            span.addEventListener('click', handleAddSchedule);
        });
        const removeScheduleButtons = document.querySelectorAll('[class*="remove-schedule"]');
        removeScheduleButtons.forEach(span => {
            span.removeEventListener('click', handleDeleteSchedule);
            span.addEventListener('click', handleDeleteSchedule);
        });
        const removeThisScheduleButtons = document.querySelectorAll('.delete-this-schedule');
        removeThisScheduleButtons.forEach(span => {
            span.removeEventListener('click', handleDeleteThisSchedule);
            span.addEventListener('click', handleDeleteThisSchedule);
        });
    }

    // Using these makes it easy to remove and add them each time to prevent double ups on event listeners
    const handleDeleteSchedule = (event) => {
        deleteSchedule(event);
    }
    const handleAddSchedule = (event) => {
        duplicateSchedule(event);
    }
    const handleDeleteThisSchedule = (event) => {
        deleteThisSchedule(event);
    }

    // Store Sortable instances to allow cleanup
    let sortableInstances = [];
    // Function to set up all sortable elements
    function setupSortables(options = {}) {
        // Default options for Sortable
        const defaultOptions = {
            animation: 150,
            ghostClass: 'sortable-ghost-class',
            group: 'Schedule-Group',
            handle: '.schedule-handle'
        };
        // Clean up existing Sortable instances
        sortableInstances.forEach(instance => instance.destroy());
        sortableInstances = [];
        // Select all elements with the 'sortable' class
        const sortableElements = document.querySelectorAll('.accordion-collapse');
        // Initialize Sortable on each element
        sortableElements.forEach(element => {
            const sortable = new Sortable(element, {
            ...defaultOptions,
            // Triggers after a move
            onEnd: (evt) => {
                formReordered();
            }
            });
            sortableInstances.push(sortable);
        });
    }

    // Document loaded actions
    document.addEventListener('DOMContentLoaded', () => {
        const addGroupButton = document.querySelector('.add-group');
        const removeGroupButton = document.querySelector('.remove-group');
        if (addGroupButton) {
            addGroupButton.addEventListener('click', (event) => {
                event.preventDefault();
                duplicateGroup();
            });
        }
        if (removeGroupButton) {
            removeGroupButton.addEventListener('click', (event) => {
                event.preventDefault();
                deleteGroup();
            });
        }
        updateForm();
        setupSortables();
        setupSubmitModal();
    });

    const numSchedules = document.querySelectorAll('.schedule').length;
    // Function to take over control of the submit button if any schedules were deleted
    function setupSubmitModal() {
        // Setup the modal for deletion confirmation
        const form = document.querySelector('form[action^="/schedules"]');
        const submitBtn = form.querySelector('button[type="submit"]');
        const modal = document.querySelector('.modal');
        const confirmBtn = modal.querySelector('.btn-danger');
        let pendingSubmit = false;
        form.addEventListener('submit', function(e) {
            const schedules = form.querySelectorAll('.schedule');
            if ((schedules.length < numSchedules) && !pendingSubmit) {
                e.preventDefault();        
                updateModalIdList(modal);
                // Show modal
                const bsModal = new bootstrap.Modal(modal);
                bsModal.show();
                // Set flag to allow submit after confirmation
                pendingSubmit = true;
            }
        });
        confirmBtn.addEventListener('click', function() {
            if (pendingSubmit) {
                pendingSubmit = false;
                // Hide modal and submit form
                const bsModal = bootstrap.Modal.getInstance(modal);
                bsModal.hide();
                form.submit();
            }
        });
        modal.addEventListener('hidden.bs.modal', function() {
            pendingSubmit = false;
        });
    }

    function updateModalIdList(modal) {
        // Remove list elements and replace with ones that have been deleted
        const list = modal.querySelector('.modal-deletions-list');
        while (list.firstChild) {
            list.removeChild(list.lastChild);
        }
        // Get the relevant info
        const listField = document.querySelector('[name="all-ids"]').value;
        const schedules = document.querySelectorAll('.schedule');
        const validIds = listField
            .split(',')
            .map(id => id.trim())
            .filter(id => id !== '');
        // Check each id from the page's original content to what's on there now and append differences to modal
        validIds.forEach(id => {
            found = 0;
            schedules.forEach(schedule => {
                const scheduleId = schedule.querySelector('[name*="id-"]').value;
                console.log(scheduleId);
                console.log(id);
                if (scheduleId == id) {
                    found = 1;
                }
            });
            if (!found == 1) {
                    list.insertAdjacentHTML('beforeend', `<li>Schedule ID: ${id}</li>`);
            }
        });
    }

// ADD BUTTONS DON'T WORK WITH EMPTY GROUP
// PREVENT FORM SUBMISSION WITH EMPTY GROUP?

</script>

<script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>

{% endblock %}